   .container {
    margin-top: 50px;
  }
  .wrapper {
     width:80%;
     margin-left: auto;
     margin-right: auto;
     display:flex;
  }
  .cardcontainer {
      display: flex;
      flex-wrap: wrap;
      gap:10px;
      row-gap: 40px;
  }
  .card {
    display:flex;
    align-items: flex-start;
    min-width:300px;
    flex:1;
  }
  
  .cardicon{
  flex:1;
  }
  .desktopicon-feature{
      font-size: 40px;
      margin-top: 1px;
  }
  .cardcontent{
  flex:4;
  }
  .cardcontent > h4 {
      font-size: 15px;
      margin:0;
  }
  .cardcontent > span {
      font-size: 11px;
      color:rgb(180, 175, 175)
  }
  .cardcontent > p {
      font-size: 13px;
  }
  /* .card:hover {
      transform: scale(1.05)
  } */
  .card:hover .desktopicon-feature {
      color: rgb(15, 170, 241);
  }
  