.features-box-container{
    margin-top: 150px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.f-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: auto;
    position: absolute;
  }
  .f-box img{
    height: 55px;
    margin-bottom: -60px;
    margin-left: -70px;
  }
  .f-box h4{
    letter-spacing: 1px;
    margin-bottom: 8px;
    margin-left: 14px;
    color: white;
    font-weight: 1000;
  }
  .f-box p{
      margin-left: 14px;
    color: rgb(102, 99, 99);;
  }