.footer-container{
    background-color: rgb(41, 40, 40);
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
    width: 100%;
}
.footer-container>h5{
    margin-top: -20px;
    color: white;
}

.keyiconbg-footer {
    margin-top: 20px;
    background-color: rgb(15, 170, 241);
    width: 30px;
    height: 30px;
    transform: rotateZ(45deg);
    position:relative;
    bottom:51px;
    border-radius: 3px;
}
.keyicon-footer {
    color:white;
    transform: rotateZ(-45deg);
    margin-top: 10px;
    margin-left: 9px;
    font-size: 15px;
}