.offers_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 20px;
}
.offers_container > h2 > b > strong {
  color: rgb(15, 170, 241);
  align-items: center;
  justify-content: center;
  font-weight: 800;
}
.offers_container > h2 {
  color: rgb(102, 99, 99);
  align-items: center;
  justify-content: center;
  font-weight: 800;
}
.offers_container > h4 {
  color: rgb(102, 99, 99);
  align-items: center;
  justify-content: center;
}
.arrow {
  color: aqua;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  top: 357px;
  left: 327px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.left {
  top: 357px;
  left: 535px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.fa fa-chevron-circle-down {
  font-size: 24px;
}

.offers-box-container{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.o-box img{
  height: 75px;
  margin-bottom: 10px;
}
.o-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 400px;
  height: 270px;
  padding: 20px 25px;
  box-sizing: border-box;
  margin: 30px;
  position: relative;
  
}
.o-box h4{
  letter-spacing: 1px;
  margin-bottom: 8px;
  color: rgb(102, 99, 99);
  font-weight: 1000;
}
.o-box p{
  text-align: center;
}
.o-btn{
  width: 140px;
  height: 40px;
  margin-top: 20px;
  border-radius: 20px;
  border: 1px solid rgba(74,144,226,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
}
.o-box:hover{
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  transition: all ease 0.3s;
}
.o-btn:hover{
  background-color: rgb(15, 170, 241);
  border: 1px solid rgb(15, 170, 241);
  color: #FFFFFF;
  transition: all ease 0.3s;
}
.bar{
  width: 100px;
  height: 6px;
  position: absolute;
  left:50%;
  top:0px;
  transform: translateX(-50%);
  background-color:rgb(15, 170, 241);
  border-radius: 0px 0px 10px 10px;
  display: none;
  animation: bar 0.5s;
}
.o-box:hover .bar{
  display: block;
}
.cardsearchicon{
  /* color:white; */
  font-size: 40px;
  margin-bottom: 15px;
}
.o-box:hover .cardsearchicon{
  color:rgb(15, 170, 241);
}


@keyframes bar {
  0%{
    width: 0px;
  }
  100%{
    width: 100px;
  }
}
@media(max-width:1050px){
  .offers-box-container{
    flex-wrap: wrap;
  }
  .offers_container{
    flex-wrap: wrap;
  }
  .offers_container>h2{
    height: auto;
    width: auto;
  }
  .offer-card{
    flex-wrap: wrap;
  }
}
.offer-card{
  display: flex;
}