.skills-heading{
    margin-top: -350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.powerfull-skills-container {
    background-color: rgb(41, 40, 40);
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    width: 100%;
  }
  .keyiconbg-skills {
    background-color: rgb(15, 170, 241);
    width: 30px;
    height: 30px;
    transform: rotateZ(45deg);
    position:relative;
    bottom:51px;
    border-radius: 3px;
}
.keyicon-skills {
    color:white;
    transform: rotateZ(-45deg);
    margin-top: 9px;
    margin-left: 9px;
    font-size: 15px;
}
  .powerfull-skills-container>.skills-heading > h2 > b > strong {
    color: rgb(15, 170, 241);
    align-items: center;
    justify-content: center;
  }
  .powerfull-skills-container>.skills-heading > h2 {
    color: white;
    align-items: center;
    justify-content: center;
  }
  .powerfull-skills-container>.skills-heading > h4 {
    color: rgb(102, 99, 99);
    align-items: center;
    justify-content: center;
  }
  .arrow {
    color: aqua;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    top: 357px;
    left: 327px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  .left {
    top: 357px;
    left: 535px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  .center-skills{
      margin-top: 80px;
    display: flex;
    flex-grow: 1;
    gap: 70px;
    position: absolute;
    left: 120px;
}

@media screen and (max-width: 1000px) {
    .center-skills{
        display: none;
    }
    .powerfull-skills-container{
      display: none;
    }
}