.price_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 20px;
  }
  .price_container > h2 > b > strong {
    color: rgb(15, 170, 241);
    align-items: center;
    justify-content: center;
    font-weight: 800;
  }
  .price_container > h2 {
    color: rgb(102, 99, 99);
    align-items: center;
    justify-content: center;
    font-weight: 800;
  }
  .price_container > h4 {
    color: rgb(102, 99, 99);
    align-items: center;
    justify-content: center;
  }

  .price-card{
    display: flex;
  }

  
.price-box-container{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .price-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 250px;
    height: 500px;
    padding: 20px 25px;
    box-sizing: border-box;
    margin: 30px;
    position: relative;
    gap: 25px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  }
  .price-box h4{
    margin-top: -10px;
    letter-spacing: 1px;
    margin-bottom: 8px;
    color: rgb(102, 99, 99);
    font-weight: 1000;
  }
  .price-box h4>strong{
    font-size: 40px;
    font-weight: 1000;
    font-family: "Garamond Premier Pro Display";
    font-feature-settings: "onum"; /* Activate oldstyle figures */
    src: url("https://use.typekit.net/af/6abdec/00000000000000003b9ade3b/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2");
      color: black;
  }
  .price-box hr{
        height: 1px;
        border: 0;
        visibility:visible;
        position: absolute;
        background-color: rgb(34, 33, 33);
        margin-top: 10px;
        margin-bottom: 10px;
  }
  .price-details{
      margin-top: 15px;
      border-top: solid 0.5px rgb(134, 131, 131);
      border-bottom: solid 0.5px rgb(134, 131, 131);
  }
  .price-details p{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(102, 99, 99);
  }
  .price-btn{
    width: 140px;
    height: 40px;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    background-color: rgb(15, 170, 241);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .price-box:hover{
    box-shadow: 5px 5px 60px rgba(0, 0, 0, 0.2);
    transition: all ease 0.3s;
  }
  .price-btn:hover{
    background-color: rgb(36, 36, 36);
    border: 1px solid rgb(15, 170, 241);
    color: #FFFFFF;
    transition: all ease 0.3s;
  }
  .price-bar{
    width: 100px;
    height: 6px;
    position: absolute;
    margin-top: 490px;
    left:50%;
    top:0px;
    transform: translateX(-50%);
    background-color:rgb(15, 170, 241);
    border-radius: 0px 0px 10px 10px;
    display: none;
    animation: bar 0.5s;
  }
  .price-box:hover .price-bar{
    display: block;
  }
  .price-cardsbutton{
    /* color:white; */
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    background-color: black;
    margin-top: -60px;
  }
  .price-box:hover .price-cardsbutton{
    background-color:rgb(15, 170, 241);
  }

.price-plan-footer{
  margin-top: 50px;
}
.footer-content-price-plans{
  display: flex;
  margin-top: -70px;
  gap:300px;
  margin-left: 400px;
}
.footer-content-price-plans>button{
  width: 180px;
    height: 40px;
    border-radius: 5px;
    border: none;
    margin-top: -5px;
    padding: 0px 15px;
    background-color: rgb(15, 170, 241);
    color: white;
    font-weight: 800;
}
.footer-content-price-plans>button:hover{
  background-color: rgb(36, 36, 36);
  color: #FFFFFF;
  transition: all ease 0.3s; 
}
  
  @keyframes bar {
    0%{
      width: 0px;
    }
    100%{
      width: 100px;
    }
  }
  @media(max-width:1050px){
    .price-box-container{
      flex-wrap: wrap;
    }
    .price_container{
      flex-wrap: wrap;
    }
    .price_container>h2{
      height: auto;
      width: auto;
    }
    .price-card{
      flex-wrap: wrap;
    }
    .footer-content-price-plans>h3{
      margin-left: -300px
    }
    .footer-content-price-plans{
      display: flex;
      margin-top: -70px;
      gap:30px;
      margin-left: 400px;
    }
  }