.social-media-container{
    background-color: rgb(41, 40, 40);
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
    width: 100%;
}
.social-media-container>h1{
    margin-top: -80px;
    position: absolute;
    color: rgb(129, 129, 129);
}
.social-media-icons{
    margin-top: 180px;
    display: flex;
  
  }
  .social-media-icons a{
    background: transparent;
    text-align: center;
    line-height: 33px;
    height: 35px;
    width: 35px;
    margin: 0 4px;
    font-size: 14px;
    border:1px solid rgb(94, 93, 93);
    color: rgb(15, 170, 241);
    position:relative;
    bottom:51px;
    border-radius: 5px;
  }
  .social-topicon{
    transform: rotateZ(-45deg);
      font-size: 17px;
      margin-top: 10px;
      margin-right: 0px;
  }
  .social-media-icons a:hover{
    color:#fff;
    background-color: rgb(15, 170, 241);
    border-color: rgb(20, 20, 20);
  }